<div
  class="main-div {{ currentTheme }} {{ smallLeftBarClass }}"
  [ngClass]="{
    'theme-dark': darkLayout,
    right_icon_toggle: !rightSidebarVisible
  }"
>
  <div class="page-loader-wrapper" *ngIf="showLoader">
    <div class="loader">
      <div class="m-t-30"></div>
      <p>Please wait...</p>
    </div>
  </div>

  <div
    class="overlay"
    [ngClass]="{ 'd-block': settingsVisible, 'd-none': !settingsVisible }"
    (click)="toggleSetting()"
  ></div>

  <div id="search" [ngClass]="{ open: searchVisible }">
    <button
      id="close"
      type="button"
      class="close btn btn-primary btn-icon btn-icon-mini btn-round"
      (click)="hideSearch()"
    >
      x
    </button>
    <form>
      <input type="search" value="" placeholder="Search..." />
    </form>
  </div>

  <app-overlay-menu></app-overlay-menu>

  <app-right-sidebar></app-right-sidebar>

  <app-left-sidebar></app-left-sidebar>

  <app-settings></app-settings>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
