
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Bus Driver</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Trackers</a></li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item active">Bus Driver</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    <a href="profile-edit.html" class="btn btn-info btn-icon float-right"><i class="zmdi zmdi-edit"></i></a>
                </div>
            </div>
        </div> 
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card mcard_3">
                        <div class="body">
                            <a href="profile.html"><img src="assets/images/profile_av.jpg" class="rounded-circle shadow " alt="profile-image"></a>
                            <h4 class="m-t-10">Lakshitha Dias</h4>                         
                        </div>
                    </div>
                                    
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="body">
                            <small class="text-muted">First Name: </small>
                            <p>Lakshitha</p>
                            <hr>
                            <small class="text-muted">Last Name: </small>
                            <p>Wirajith</p>
                            <hr>
                            <small class="text-muted">Email address: </small>
                            <p>michael_dorsey@gmail.com</p>
                            <hr>
                            <small class="text-muted">Licencs No: </small>
                            <p>123546</p>
                            <hr>
                            <small class="text-muted">Phone Nu: </small>
                            <p>+ 202-555-0191</p>
                            <hr>
                            
  
                          </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
